html, body, input {
  background-color: #c3e7f5;
  color: #22333a;
}

.navbar-default {
  background-color: #87ceec;
  border-color: #87ceec;
}

.nav.navbar-nav.navbar-left a {
  color: white;
}

.nav.navbar-nav.navbar-right a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default 
.navbar-brand:hover,
.navbar-default 
.navbar-brand:focus {
	color: white;	
}

.panel {
	border: none;
	background-color: #87ceec;
}

.panel-heading {
	background-color: #f2f2f2;
}

h4.panel-title {
	color: #1f94c7;
	font-weight: bold;
}

table, th , td {
  border: none;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #ffffdf;
}

table tr:nth-child(even) {
  background-color: #e3f2fd;
}

.accordion__container {
  background: #eee;
  border: 1px solid #ccc;
  padding: 20px;
}
.accordion__tab {
  background: #aaa;
  color: #fff;
	margin-bottom: 4px;
}
.accordion__tab-title {
  background: #87ceec;
  padding: 5px;
  cursor: pointer;
}
.accordion__tab-content {
  background: #c3e7f5;
  padding: 20px;
}
