<h1>Forecast for {{ city }}</h1>
<div ng-controller="forecastController">
	<label for="days">Days to Forecast:</label>
	<select ng-model="days" ng-options="day for day in daysList"></select>
	<br />
	<label for="tempUnit">Temperature Unit:</label>
	<select ng-model="tempUnit" ng-options="unit for unit in tempUnitList"></select> <a href="#/forecast/{{tempUnit}}/{{days}}" class="btn btn-primary">Switch</a>
	<br />
	<div class="row"> <span class="btn btn-default pull-right" ng-click="status.isDayOpen=!status.isDayOpen" style="margin-right:28px">{{ status.isDayOpen ? "Collapse" : "Expand" }} All</span> </div>
	<br />
	<div ng-repeat="w in weatherResult.list">
		<div class="row-fluid">
			<div class="col-md-4" style="text-align:center;">
				<weather-report weather-day="w" convert-temp="convertTemperature(daytimeTemp)" convert-date="convertDate(dt)" date-format="MMMM d, y" status="status"></weather-report>
			</div>
		</div>
	</div>
</div>